#bg-sun {
  position: absolute;
  top: -2%;
  width: 12%;
  z-index: 4;
}

#bg-cloud__up {
  position: absolute;
  top: 16%;
  width: 39%;
  left: 74%;
  z-index: 3;
}

#bg-cloud__position1 {
  position: absolute;
  top: 17%;
  left: 16%;
  width: 26%;
  z-index: 7;
}

#bg-cloud__position2 {
  position: absolute;
  top: 8%;
  left: 38%;
  width: 45%;
  z-index: 2;
}

#bg-cloud__position3 {
  position: absolute;
  top: 21%;
  left: 54.5%;
  width: 19%;
  z-index: 5;
}

#bg-cloud__position4 {
  position: absolute;
  top: 8%;
  left: 93%;
  width: 20%;
  z-index: 2;
}

#bg-cloud__position5 {
  position: absolute;
  top: 8%;
  left: 4%;
  width: 22%;
  z-index: 5;
}

#bg-grass__cover1 {
  position: absolute;
  left: 36%;
  top: 75.5%;
  width: 15%;
  z-index: 5;
}

#bg-grass__cover2 {
  position: absolute;
  left: 70%;
  top: 75.5%;
  width: 15%;
  z-index: 5;
}

#bg-grass__cover3 {
  position: absolute;
  left: 2%;
  top: 75.5%;
  width: 15%;
  z-index: 5;
}

#bg-grass__cover4 {
  position: absolute;
  left: 98%;
  top: 75.5%;
  width: 15%;
  z-index: 5;
}

#bg-grass__1 {
  position: absolute;
  left: 16.2%;
  top: 75.79%;
  width: 33.5%;
  z-index: 5;
}

#bg-grass__2 {
  position: absolute;
  left: 52.3%;
  top: 74.17%;
  width: 32%;
  z-index: 5;
}

#bg-grass__3 {
  position: absolute;
  left: 84.9%;
  top: 68.1%;
  width: 29%;
  z-index: 5;
}
